<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".KiandoApplication"
        android:allowBackup="true"
        android:icon="${icon}"
        android:label="@string/app_name"
        android:roundIcon="${roundIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiando"
        android:usesCleartextTraffic="true">
        <activity
            android:name="jp.kawagh.kiando.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kiando">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>